@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@import url('https://fonts.googleapis.com/css?family=Contrail+One|PT+Sans+Narrow');
@include foundation-global-styles;
//@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

//Custom Css

a {
    color: $white;
	font-size:1em;
	font-family: $contrail;
	text-transform:uppercase;
}

a:hover {
    color: $blue;
	font-family: $contrail;
		text-transform:uppercase;

}

.social {


  &.facebook {
    @include button-style($social-brand-facebook, auto, $white);
  }
  &.twitter {
    @include button-style($social-brand-twitter, auto, $white);
  }
	> .fa {
    color: $white;
	}}


.social.facebook {
  background-color: #3b5998;
  color: #fefefe;
	width:50%;
	text-align:center;
	margin:0 auto;
	margin-top:-2px;
}

.social.facebook:hover, .social.facebook:focus {
  background-color: #2f477a;
  color: #fefefe;
}

.social.twitter {
  background-color: #55acee;
  color: #fefefe;
	width:50%;
	text-align:center;
	margin: 0 auto;
		margin-top:-2px;

		

}

.social.twitter:hover, .social.twitter:focus {
  background-color: #1a8fe8;
  color: #fefefe;
	
}

.social > .fa {
  color: #fefefe;
  
}

.hidden{
	display:none;
}

.boxHelper {
    color: #fff;
    background: #000;
    text-align: center;
	height:100px;
	width:100%;
}

//Mobile



.arrow-down {
	padding:1em;
background-color:$red;
  height:10em;
	width:10em;
-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%);
clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%);
	margin-top:-1px;
	
	

}

//small

@media screen and (max-width: 39.9375em) {
	
	.bg{
	background-image: url('../images/mobile-bg.png');
	background-repeat: no-repeat;
background-size: cover;
	
}
	
	.stats{
	background-color: $red;
	padding:1em;
	text-align:center;
	overflow:hidden;
	color:$white;
	text-transform:uppercase;
	
	
}

.stats h2{
	font-size:1.7em;
	text-align:center;
	font-family:$contrail;
	
}

.stats h3{
	font-size:1em;
	text-align:center;
	font-family:$contrail;
	margin-bottom:-0.2em;
	
}

.stats p{
	font-size:1em;
	text-align:center;
	font-family:$ptsans;
	
}
	
}




.bioHeading{
color:$white;
font-family: 'Contrail One', cursive;
	text-transform:uppercase;
font-size:2.5em;
	margin-left:0.2em;
	z-index:1;
	margin-bottom:4em;
	
}

.text{
	font-family:$ptsans;
	padding-right:8em;
	
}

.timelineBox{
	background-color:$blue;
	  /*...*/
	-webkit-clip-path: polygon(0 0, 62% 0, 100% 100%, 0% 100%);
clip-path: polygon(0 0, 62% 0, 100% 100%, 0% 100%);
	    -webkit-shape-outside: polygon(0 0, 62% 0, 100% 100%, 0% 100%);

	height:10em;
	overflow:scroll;
	Margin-top:-12em;
	color:$white;
}

.timelineBox p{
	margin-top:1em;
}

.controls{
	color:$white;
font-family: $contrail;
	text-transform:uppercase;
	margin-bottom:1em;

	
	
}



.socialHeading{
	color:$white;
	font-family:$contrail;
	font-size:4.4em;
	text-transform:uppercase;
	background-color:$yellow;
	padding:0;
	margin:0;
	line-height:0.8em;
}

.btn-slanted {
  display: inline-block;
	position:relative;
	font-size: 1.5em;
	background: $blue;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 3px 13px;
	text-decoration: none;
	border-radius: 3px;
	cursor: pointer;

}
.btn-slanted span {
	text-align: center;
	position: relative;
	-webkit-transition: .1s linear;
	transition: .1s ease-in-out;
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
}
.btn-slanted,
.btn-slanted > span {
	color: $white;
	text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.4);
}
.btn-slanted:hover,
.btn-slanted:hover > span {
	color: $blue;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}
.btn-slanted:before {
	content: '';
	position: absolute;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	left: -2px;
	background-color: $yellow;
	bottom: -2px;
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: .2s linear;
	transition: .2s linear;
}

.btn-slanted:hover span {
	-webkit-transition: .1s linear;
	transition: .1s linear;
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
}
.btn-slanted:hover:before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition: .2s linear;
	transition: .2s linear;
}
.btn-slanted {
  -ms-transform: skewX(40deg);
  -webkit-transform: skewX(40deg);
  transform: skewX(40deg);
}
.btn-slanted > span {
  -ms-transform: skewX(-40deg);
  -webkit-transform: skewX(-40deg);
  transform: skewX(-40deg);  
  display: inline-block;
}


.mediaHeading{
	color:$white;
	font-family:$contrail;
	font-size:4.4em;
	text-transform:uppercase;
	background-color:$yellow;
	padding:0;
	margin:0;
	line-height:0.8em;
	
}

.lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	z-index: 500;
}

.close-lightbox {
	float: right;
	margin-right: 18px;
	margin-top: 12px;
	font-size: 2em;
	cursor: pointer;
	height: 10px;
	width: 10px;
}

.lightbox-img {
	display: block;
	max-width: 50%;
	max-height: 80%;
	margin-left: auto;
	margin-right: auto;
	clear: right;
}

.galleryImages
{
	cursor: pointer;
}

.gallery{
	overflow:auto;
	margin:0 auto;
	
	
}

.gallery img { filter: gray; 
      -webkit-filter: grayscale(1); 
      -webkit-transition: all 0.2s ease-in-out;  
    }

    .gallery img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.1);
    }

.twitter-timeline{
	margin-left:5%;
	margin-right:5%
	
	
}

.toTop{
	background-color:$blue;
	font-family:$contrail;
	font-size:3em;
	color:$white;
	text-align:Center;
	text-transform:uppercase;
}

//medium

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	
	.bg{
	background-image: url('../images/bg-medium.png');
	background-repeat: no-repeat;
background-size: cover;
	
}
	.toTop{
	background-color:$yellow;
	font-family:$contrail;
	font-size:3em;
	color:$white;
	text-align:Center;
	text-transform:uppercase;
}
	
	.stats{
	background-color: $red;
	padding:1.3em;
	text-align:center;
	overflow:hidden;
	color:$white;
	text-transform:uppercase;
	
	
}

.stats h2{
	font-size:2em;
	text-align:center;
	font-family:$contrail;
	
}

.stats h3{
	font-size:1.5em;
	text-align:center;
	font-family:$contrail;
	margin-bottom:-0.2em;
	
}

.stats p{
	font-size:1.5em;
	text-align:center;
	font-family:$ptsans;
	
}

.arrow-down {
	padding:1em;
background-color:$red;
  height:10em;
	width:10em;
-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%);
clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%);
	margin-top:-1px;
	
	

}
	
	.bioHeading{
color:$white;
font-family: 'Contrail One', cursive;
	text-transform:uppercase;
font-size:2.7em;
	margin-left:0.4em;
	z-index:1;
	margin-bottom:4em;
	
}

.text{
	font-family:$ptsans;
	padding-right:8.3em;
	
}

.timelineBox{
	background-color:$blue;
	  /*...*/
	-webkit-clip-path: polygon(0 0, 62% 0, 100% 100%, 0% 100%);
clip-path: polygon(0 0, 62% 0, 100% 100%, 0% 100%);
	    -webkit-shape-outside: polygon(0 0, 62% 0, 100% 100%, 0% 100%);

	height:10em;
	overflow:scroll;
	Margin-top:-12.3em;
	color:$white;
}

.timelineBox p{
	margin-top:1em;
}


	
}


//large 
@media screen and (min-width: 64em) {
	
	
	.bg{
	background-image: url('../images/bg-large.png');
	background-repeat: no-repeat;
background-size: cover;
	
}
	
	.stats{
	background-color: $red;
	padding:1.3em;
	text-align:center;
	overflow:hidden;
	color:$white;
	text-transform:uppercase;
	
	
}

.stats h2{
	font-size:2em;
	text-align:center;
	font-family:$contrail;
	
}

.stats h3{
	font-size:2em;
	text-align:center;
	font-family:$contrail;
	margin-bottom:-0.2em;
	
}

.stats p{
	font-size:2em;
	text-align:center;
	font-family:$ptsans;
	
}

.arrow-down {
	padding:1em;
background-color:$red;
  height:10em;
	width:10em;
-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%);
clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%);
	margin-top:-1px;
	
	

}
	.bioHeading{
color:$white;
font-family: 'Contrail One', cursive;
	text-transform:uppercase;
font-size:3em;
	margin-left:0.6em;
	z-index:1;
	margin-bottom:4em;
	
}

.text{
	font-family:$ptsans;
	padding-right:10em;
	margin-top:2em;
	
}

.timelineBox{
	background-color:$blue;
	  /*...*/
	-webkit-clip-path: polygon(0 0, 62% 0, 100% 100%, 0% 100%);
clip-path: polygon(0 0, 62% 0, 100% 100%, 0% 100%);
	    -webkit-shape-outside: polygon(0 0, 62% 0, 100% 100%, 0% 100%);

	height:10em;
	overflow:scroll;
	Margin-top:-12.5em;
	color:$white;
}

.timelineBox p{
	margin-top:1em;
}

	
	}
	

	
	
